<div class="max-w-2xl mx-auto p-6 sm:p-8 bg-white shadow-md rounded-lg mt-10">
  <!-- Header -->
  <h1 class="text-2xl sm:text-3xl font-bold mb-4 text-center text-gray-800">ข้อความหัวตาราง</h1>
  <form enctype="multipart/form-data" (submit)="onSubmit()">
      <input type="text" [(ngModel)]="description" name="description" placeholder="เพิ่มข้อความ..." class="w-full mb-4 p-2 border border-gray-300 rounded-lg" />
      <input type="text" [(ngModel)]="linkUrl" name="link_url" placeholder="ลิงก์ URL" class="w-full mb-4 p-2 border border-gray-300 rounded-lg" />
      <label class="block mb-2 text-gray-700">เลือก รูปภาพ:</label>
      <input type="file" (change)="onFileSelected($event)" name="image" class="mb-4 border border-gray-300 rounded-lg" />
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg w-full">บันทึก</button>
  </form>
</div>
