<div class="max-w-6xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-8">
  <div class="flex justify-between mb-4">
    <button (click)="addMatch()" class="w-1/2 bg-yellow-500 text-white py-3 font-semibold rounded-lg hover:bg-yellow-600 mr-2">เพิ่มผู้แข่งขัน</button>
    <button (click)="onSubmit()" class="w-1/2 bg-green-700 text-white py-3 font-semibold rounded-lg hover:bg-green-800 ml-2">บันทึก</button>
  </div>

  <form [formGroup]="tipsForm">
    <ng-container formArrayName="matches">
      <div *ngFor="let match of matches.controls; let i = index; trackBy: trackByIndex" [formGroupName]="i" class="border-4 border-blue-300 p-6 rounded-lg mb-6">
        <h2 class="text-2xl font-bold mb-4 flex justify-between items-center">
          คู่ที่ {{ i + 1 }}
          <button (click)="removeMatch(i)" type="button" class="bg-red-500 text-white px-3 py-1 rounded-full">ลบผู้แข่งขัน</button>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <div>
            <label class="block text-gray-700 font-semibold mb-2">เลือกทีมเหย้า</label>
            <select formControlName="homeTeam" class="w-full p-3 border border-gray-300 rounded-lg mb-4">
              <option *ngFor="let team of teams" [value]="team.id">{{ team.team_name }}</option>
            </select>

            <label class="block text-gray-700 font-semibold mb-2">วันที่</label>
            <input type="date" formControlName="date" class="w-full p-3 border border-gray-300 rounded-lg mb-4" />

            <label class="block text-gray-700 font-semibold mb-2">ราคาต่อรอง</label>
            <input type="text" formControlName="odds" class="w-full p-3 border border-gray-300 rounded-lg mb-4" />

            <label class="block text-gray-700 font-semibold mb-2">ผลทีมเหย้า</label>
            <input type="number" formControlName="homeScore" class="w-full p-3 border border-gray-300 rounded-lg mb-4" />
          </div>

          <div>
            <label class="block text-gray-700 font-semibold mb-2">เลือกทีมเยือน</label>
            <select formControlName="awayTeam" class="w-full p-3 border border-gray-300 rounded-lg mb-4">
              <option *ngFor="let team of teams" [value]="team.id">{{ team.team_name }}</option>
            </select>

            <label class="block text-gray-700 font-semibold mb-2">เวลา</label>
            <input type="time" formControlName="time" class="w-full p-3 border border-gray-300 rounded-lg mb-4" />

            <label class="block text-gray-700 font-semibold mb-2">ลีก</label>
            <select formControlName="league" class="w-full p-3 border border-gray-300 rounded-lg mb-4">
              <option *ngFor="let league of leagues" [value]="league.id">{{ league.name }}</option>
            </select>

            <label class="block text-gray-700 font-semibold mb-2">ผลทีมเยือน</label>
            <input type="number" formControlName="awayScore" class="w-full p-3 border border-gray-300 rounded-lg mb-4" />
          </div>
        </div>

        <ng-container formArrayName="expertPredictions">
          <div *ngFor="let prediction of getExpertPredictions(i).controls; let j = index; trackBy: trackByIndex" [formGroupName]="j" class="border-4 border-green-300 p-6 rounded-lg mb-6">
            <h3 class="text-2xl font-bold mb-4">เซียนบอลคนที่ {{ j + 1 }}</h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
              <div>
                <label class="block text-gray-700 font-semibold mb-2">เลือกเซียนบอล</label>
                <select formControlName="expertId" class="w-full p-3 border border-gray-300 rounded-lg mb-4">
                  <option *ngFor="let expert of experts" [value]="expert.id">{{ expert.name }}</option>
                </select>

                <label class="block text-gray-700 font-semibold mb-2">วิเคราะห์ผล</label>
                <input type="text" formControlName="analysis" class="w-full p-3 border border-gray-300 rounded-lg mb-4" />

                <label class="block text-gray-700 font-semibold mb-2">ลิงค์วิเคราะห์</label>
                <input type="text" formControlName="link" class="w-full p-3 border border-gray-300 rounded-lg mb-4" />
              </div>

              <div class="flex flex-col items-center">
                <label class="block text-gray-700 font-semibold mb-2">ทายว่าทีมเหย้าจะ:</label>
                <div class="flex flex-col space-y-2 mb-4">
                  <label class="flex items-center">
                    <input type="radio" formControlName="prediction" value="win" class="mr-2" /> ชนะ
                  </label>
                  <label class="flex items-center">
                    <input type="radio" formControlName="prediction" value="draw" class="mr-2" /> เสมอ
                  </label>
                  <label class="flex items-center">
                    <input type="radio" formControlName="prediction" value="lose" class="mr-2" /> แพ้
                  </label>
                </div>
                <button (click)="removeExpertPrediction(i, j)" type="button" class="bg-red-500 text-white py-2 px-4 rounded-lg">ลบเซียนบอล</button>
              </div>
            </div>
          </div>
        </ng-container>

        <button (click)="addExpertPrediction(i)" type="button" class="bg-green-500 text-white py-2 px-4 rounded-lg w-full">เพิ่มเซียนบอล</button>
      </div>
    </ng-container>
  </form>
</div>
