<div class="container mx-auto p-4">
  <!-- ส่วนข้อความ Header -->
  <div class="header-section mb-6 text-center">
    <!-- แสดงข้อความ -->
    <h1 *ngIf="headerMessage?.description" class="text-2xl font-bold mb-4">
      {{ headerMessage.description }}
    </h1>
  
    <!-- ลิงก์ครอบรูปภาพ -->
    <a
      *ngIf="headerMessage?.link_url"
      [href]="headerMessage.link_url"
      target="_blank"
      class="inline-block"
    >
      <img
        *ngIf="headerMessage?.image_url"
        [src]="'http://127.0.0.1:5000/static/uploads/img_header_message/' + headerMessage.image_url"
        alt="Header Image"
        class="mx-auto rounded-lg shadow-lg max-w-full h-auto"
      />
    </a>
  </div>
  
  

  <!-- ตารางข้อมูลการแข่งขัน -->
  <table class="min-w-full bg-white text-center rounded-lg shadow-lg">
    <thead>
      <tr class="bg-gray-200">
        <th class="py-2 px-4">ทีมเหย้า</th>
        <th class="py-2 px-4">คะแนน</th>
        <th class="py-2 px-4">ทีมเยือน</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td class="py-4 px-6">
          <img
            *ngIf="match.home_team_id"
            [src]="getTeamImage(match.home_team_id)"
            alt="Home Team"
            class="rounded-full h-12 w-12 mx-auto"
          />
          <p>{{ getTeamName(match.home_team_id) }}</p>
        </td>
        <td class="py-4 px-6">
          {{ match.home_score }} - {{ match.away_score }}
          <br />
          <span>{{ formatDate(match.date, match.time) }}</span>
        </td>
        <td class="py-4 px-6">
          <img
            *ngIf="match.away_team_id"
            [src]="getTeamImage(match.away_team_id)"
            alt="Away Team"
            class="rounded-full h-12 w-12 mx-auto"
          />
          <p>{{ getTeamName(match.away_team_id) }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
